html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.main-container {
    width: 100vw;
    height: 100vh;
    background: lightskyblue;
    tabindex: 1;
    outline: none;
}

.switch-image {
    object-fit: contain;
    width: 250px;
}
