html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.main-container {
    width: 100vw;
    height: 100vh;
    background: lightskyblue;
    tabindex: 1;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.switch-image {
    object-fit: contain;
    width: 250px;
}
